*(
    padding: 0;
    margin::0;
    box-sizing:border-box;
)
html {
    font-size: 10px;
    font-family:'montserrat' sans-serif ;

}
a{
    text-decoration: none;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}
p{
    color: black;
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
}
.section-title{
    font-size: 4rem;
    font-weight: 300;
    color:black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}
.services-item span{
    color: crimson;
}
.cta{
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 2px solid crimson;
    font-size: 2rem;
    margin-top: 30px;
    transition: .3 ease;
    transition-property: background-color;
}
.cta:hover{
    color: white;
    background-color: crimson;
}
.brand h1{
    font-size: 3rem;
    text-transform: uppercase;
    color: rgb(60, 170, 110);
}
.brand h1 span{
    color: crimson;
}
/******headar section******/
#header{
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}
#header .header{
    min-height: 8vh;
    background-color: rgba(33, 30, 30, 0.24);
}
#header .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}
#header .navlist ul{
    list-style: none;
    position: absolute;
    background-color: rgb(31, 30, 30);
    width: 100vw;
    height: 100vw;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
}
#header .nav-list ul a{
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}
#header .nav-list ul a ::after{
    content: attr(data-after);
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50% -50%) scale(0);
    color: rgba(240, 240, 255, 0.0021);
    font-size: 15rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: -3s ease letter-spacing;
}
#header .nav-list ul li :hover a::after{
    transform: translate(-50% -50%) scale(1);
    letter-spacing: inherit;
}
#hamburger .hamburger{
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
}
#hamburger .hamburger .bar{
    height: 2px;
    width: 30px;
    position: relative;
    background-color: white;
    z-index: -1;
}
#hamburger .hamburger .bar::after
#hamburger .hamburger .bar::before{
    content: ;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: white;
    transition: .3s ease;
    transition-property: top,bottom;
}
#hamburger .hamburger .bar::after{
    top: 8px;
}
#hamburger .hamburger .bar::before{
    bottom: 8px;
}
/********end header section**********/
/*hero section*/
#hero{
    background-image: url(./img/img2.jpg);
    background-size:cover;
    background-position: top center;
    position: relative;
}
#hero::after{
    content:'';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}
#hero .hero{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}
#hero h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1ss;
}
#hero h1:nth-child(1){
    animation-delay: 1s;
}
#hero h1:nth-child(2){
    animation-delay: 2s;
}
#hero h1:nth-child(3){
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 3s;
}
#hero h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: crimson;
    animation: text-reveal_box 1s ease;
    animation-delay: 1s;
    animation-delay: .3s;
}
#hero h1:nth-child(1) span{
    animation-delay: .5s;
}
#hero h1:nth-child(2) span{
    animation-delay: 1.5s;
}
#hero h1:nth-child(3) span{
    animation-delay: 2.5s;
}
#hero .cta{
    display:inline-block;
    padding: 10px 30px;
    color: rgb(155, 53, 53);
    background-color: transparent;
    border: 2px solid crimson;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    margin-top: 30px;
    transition: .3s esa ;
    transition-property: backround-color,color;

}
#hero .cta:hover{
    color: white;
    background-color: crimson;
}
/* end hero section*/
/*services section*/
#serrvices{}
#services .services{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}
#services .section-title{
    font-size: 4rem;
    font-weight: 300;
    color:black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}
#services .section-title span{
    color: crimson;
}
#services .services-top p{
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
}
#services .service-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}
#services .services-items{
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-color: cornflowerblue;
    background-size: cover;
    margin :10px 5%;
    position: relative;
}
#services .services-items::after{
    content: '';
    position: absolute;
    left:0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .8;
    z-index: -1;
}
.services .service-bottom .icom{
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
}
#services .services-items h2{
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
}
#services .services-items p{
    color: white;
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.9rem;
}
/*services section*/

/**********projects section*************/
#projects .projects{
    flex-direction: column;
    max-width: 1200px;
    max-resolution: 0 auto;
    padding: 100px;
}.projects .projects-header h1{
    margin-bottom: 50px;

}
#projects .all-projects{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#projects .projects.social-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;

}
#projects
/**********end projects section***********/
/*****************/
#contect .contect{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}
#contect .contect-items{
    width: 400px;
}
#contect .contect-items{
    width: 80%;
    padding: 20px;
    text-align: center;
    border-radius: 10px ;
    padding: 30px;
    margin: 30px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 10px 0 black;
    transition: .3s ease box;box-shadow: ;
}
#contect .contect-items::hover{
    box-shadow: 0px 0px 5px 0 black;
}
#contect .icon{
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
}
#contect .icon .img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}
#contect .contact-info h1{
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 5px;
}
#contect .contact-info h2{
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 500;
}
/******************/
/**********footer**************/
#footer{
    background-image:url(./img/img12.jpeg) ;

}
#footer .footer{
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
}
#footer h2{
    color: white;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
#footer .social icom{
    display: flex;
    margin-bottom: 30px;
}
#footer .social-item{
    height: 50px;
    width: 50px;
    margin: 0 5px;
}
#footer .social-item img{
    filter: grayscale(1);
    transition: .3s ease filter;
}
#footer .social-item :hover img{
    filter: grayscale(0);
}
#footer p{
    color: white;
    font-size: 1.3rem;
}
/*********end footer***********/
/*keyframes*/
@keyframes text_reeal_box{
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0%;
        left: 100%;
    }
}
@keyframes text_reveal{
    100%{
        color: white;

    }
}
@keyframes text_reveal_name{
    100%{
        color:crimson;
        font-weight: 500;

    }
}
/*end keyframes*/
/*madia queri far tobilk*/
@media only screme and (min-width:722px)
.cta{
    font-siez: 2.5rem;
    padding: 20px 60 px
    ;
}
h1.section-title{
    font-size: 6rem;
}
/*end madia queri far tabilk*/
/*hero*/
#hero h1{
    font-size: 7rem;
}
/*hero*/
/*************serices section*****/
#services .service-bottom .services-item{
    flex-basis: 45%;
    margin: 1.5%;
}
/***********serices section**********/
/*sprogek*/
#projects .projects-item{
    flex-direction: row;
}
#projects .projects-item{
    height: 400px;
    margin: 0 auto;
    width: 100%;
    border-radius: 0;
}
#projects .all .projects .projects-info{
    height: 100%;

}
#projects .all .projects .projects-img{
    height: 100%;
    
}
/*progek*/